<div class="bigmouth-container mdl-grid">

    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="bigmouth-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="target" value="http://example.com">
            <label class="mdl-textfield__label" for="target">Target</label>
        </div>
        <label id="cloudevents-mode" for="mode" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
            <input type="checkbox" id="mode" class="mdl-switch__input">
            <span class="mdl-switch__label">Binary Mode</span>
        </label>
        <div class="bigmouth-yaml mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" id="yaml" rows="4" cols="50">
{{template "example.yaml"}}
            </textarea>
            <label class="mdl-textfield__label" for="yaml">YAML</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

</div>

<button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bigmouth-fab">
    <i class="material-icons">send</i>
</button>

<script>

    window.addEventListener('load', (event) => {
        let subjects = {};

        let main = document.getElementsByTagName("main")[0].getElementsByClassName("bigmouth-container")[0];

        console.log("Protocol: " + location.protocol);
        let wsURL = "ws://" + document.location.host + "/ws";
        if (location.protocol === 'https:') {
            wsURL = "wss://" + document.location.host + "/ws";
        }
        console.log("WS URL: " + wsURL);

        sock = new ReconnectingWebSocket(wsURL);
        sock.onopen = function () {
            console.log("connected to " + wsURL);
            let fab = document.getElementById("fab");
            fab.setAttribute("bigmouth-connected", "true");
        };
        sock.onclose = function (e) {
            console.log("connection closed (" + e.code + ")");
            fab.setAttribute("bigmouth-connected", "false");
        };
        sock.onmessage = function (e) {
            window.dispatchEvent(new Event('cloudevent'));
            let t = JSON.parse(JSON.parse(e.data)); // at the moment the ws sends down a double encoded thing.

            let key = "no-subject";
            if (t["subject"])  {
                key = t["subject"]
            }

            let log = subjects[key];

            if (!log) {
                log = makeTable(key);

                injectPad(main);
                main.appendChild(log);
                injectPad(main);

                subjects[key] = log;
            }

            let doScroll = window.scrollTop > window.scrollHeight - window.clientHeight - 1;
            appendRow(log, t);
            if (doScroll) {
                window.scrollTop = window.scrollHeight - window.clientHeight;
            }
        };
        // Handle any errors that occur.
        sock.onerror = function(error) {
            console.log('WebSocket Error: ' + error);
        };

        let yamlInput = document.getElementById("yaml");

        let mode = document.getElementById("mode");
        mode.onchange = function () {
            if (mode.getAttribute("disabled")) {
                mode.innerText = "Structured Mode"
            } else {
                mode.innerText = "Binary Mode"
            }
        };

        let fab = document.getElementById("fab");
        fab.setAttribute("bigmouth-connected", "false");
        fab.onclick = function(){
            let modeType = "binary";
            if (mode.getAttribute("disabled")) {
                modeType = "structured"
            }

            sock.send(JSON.stringify({
                "mode": modeType,
                "yaml": yamlInput.value,
            }));
        };

    });
</script>
